.pages {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.page {
  border: 1px solid rgb(24, 144, 3);
  color: #fff;
  background-color: rgb(13, 169, 117);;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 5px grey;
}
.page-active {
  color: #045f13;
  background-color: #fff;
}