.add_modal {
  width: 500px;
  height: 300px;
  border: 3px solid rgb(38, 205, 16);
  border-radius: 10px;
  background-color: rgb(247, 248, 187);
  position: absolute;
  left: 8px;
  box-shadow: 2px 2px 20px rgb(36, 98, 25);
  z-index: 100;
}
.modal_caption {
  margin: 10px 0 20px;
  font-size: 20px;
  text-decoration: underline;
}
.modal_form {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.modal_input_block {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.modal_input {
  border-radius: 10px;
  outline: none;
  border: 1px solid rgb(75, 189, 46);
  height: 20px;
  padding: 5px 10px;
}
.modal_input:focus {
  box-shadow: 1px 1px 5px rgb(36, 98, 25);
}
.modal_label {
  width: 100px;
}
.btn_save {
  font-size: 16px;
  font-weight: bold;
  color: #4caf50;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid rgb(197, 240, 190);
  box-shadow: 2px 2px 10px rgb(36, 98, 25);
  margin-right: 20px;
}
.btn_save:hover {
  background-color: #3e8e41;
  color: #fff;
}
.btn_close {
  font-size: 16px;
  font-weight: bold;
  color: #de6312;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid rgb(197, 240, 190);
  box-shadow: 2px 2px 10px rgb(251, 49, 4);
}
.btn_close:hover {
  background-color: #fc0303;
  color: #fff;
}
